/*Imagenes con atributo que contengan .png, .jpg o .jpeg
    ancho 200px
    alto 200px
    borde rojo
    borde solido
    ancho de borde 10px
    margen 20px
*/
img[src $= ".png"], img[src $= ".jpg"], img[src $= ".jpeg"]{
    width: 200px;
    height: 200px;
    border-color: red;
    border-style: solid;
    border-width: 10px;
    margin: 20px;
}