<!--/*******************************
10
******************************/-->

<!--/*******************************
12
******************************/-->
<%- include('template/cabecera',{tituloPagina:'Error'})%>

<body>
    <h1>Página no encontrada</h1>
    <h2>Ups! lo siento <%= usuario %> <%= apellido %> no encontré esta página, me perdí como la chinita en el bosque</h2>
</body>
</html>