<!--/*******************************
10
******************************/-->

<!--/*******************************
11
******************************/-->
<%- include('template/cabecera',{tituloPagina:'Contacto'})%>
<body>
    <%- include('template/navbar') %>
    <h1>Página de contacto</h1>
    <h2>Bienvenid@ <%= usuario %> <%= apellido %></h2>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>