* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #36304a;
    padding-top: 24px;
    padding-bottom: 20px;
}

td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
    line-height: 1.4;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 10px;
}*/

#users, #crear, #infoUser, #cuatroCEROcuatro, #contacto {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/*
body{
    background: rgb(240,203,219);
    background: radial-gradient(circle, rgba(240,203,219,1) 0%, rgba(202,217,236,1) 100%);
}*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: x-large;
}

#img404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}