#principal{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    "botones botonesSec botonesSec botonesSec"
    "botones formulario formulario formulario"
    "pie pie pie pie";
}

#encabezado{
    grid-area: encabezado;
    
    display: flex;
    justify-content: center;

    background-color:indianred;
    color: white;
}

button{
    border: solid;
    border-radius: 10px;

    padding: 10px;

    background-color: indianred;
    color: white;

    font-size: medium;
    cursor: pointer;
}

button:disabled {
    border: solid;
    border-radius: 10px;

    padding: 10px;

    background-color: #916366;
    color: snow;

    font-size: medium;
}

#botones{
    grid-area: botones;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;
}

#botonesSec{
    grid-area: botonesSec;
    
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#botonesSec button{
    height: 70%;
}

p {
    border: solid;
    border-color: indianred;

    padding: 15px;

    text-align: center;
    font-size: medium;
}

#formulario{
    grid-area: formulario;
    
    display: flex;
    flex-direction: column;
}

#newForm{    
    display: flex;
    flex-direction: column;

    gap: 5px;
}

#nombreForm{
    box-sizing: border-box;

    width: 100%;

    font-size: large;
}

input {
    box-sizing: border-box;
}

#btnEnviar{
    border: none;
    border-radius: 0;

    box-sizing: border-box;

    /*width: 30%;*/

    background-color: beige;
    color: indianred;
}

#pie{
    grid-area: pie;

    display: flex;
    justify-content: right;

    background-color:indianred;
    color: white;
}

